src/AdvisingAssistant/bin/Debug/AdvisingAssistant.exe
src/AdvisingAssistant/bin/Debug/AdvisingAssistant.pdb
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.UI.ConfigurationForm.resources
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.csproj.CopyComplete
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.csproj.CoreCompileInputs.cache
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.csproj.FileListAbsolute.txt
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.csproj.GenerateResource.Cache
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.exe
src/AdvisingAssistant/obj/x86/Debug/AdvisingAssistant.pdb
src/AdvisingAssistant/Program.cs
